



/*loader*/


div {
  --effect: hover 1s linear infinite;
}


.abhi {
  position: absolute;
  top: 43%;
  left: 37.5%;
}

i{
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-size: 4em;
  font-family: arial;
  font-weight: 600;
  transform: scale(.5);
  color: #121212;
  -webkit-text-stroke: 2px gray;
}

i:nth-child(1) {
  animation: var(--effect);
}

i:nth-child(2) {
  animation: var(--effect) .125s;
}

i:nth-child(3) {
  animation: var(--effect) .25s;
}

i:nth-child(4) {
  animation: var(--effect) .375s;
}

i:nth-child(5) {
  animation: var(--effect) .5s;
}

i:nth-child(6) {
  animation: var(--effect) .675s;
}

i:nth-child(7) {
  animation: var(--effect) .75s;
}
i:nth-child(8) {
  animation: var(--effect) .85s;
}
i:nth-child(9) {
  animation: var(--effect) .93s;
}
i:nth-child(10) {
  animation: var(--effect) .98s;
}

@keyframes hover {
  0% {
    transform: scale(.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
  }

  20% {
    transform: scale(1);
    color: pink;
    -webkit-text-stroke: 3px red;
    filter: drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 3px red)drop-shadow(0 0 5px red)hue-rotate(10turn);
  }

  50% {
    transform: scale(.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
  }


}

